@import url(https://fonts.googleapis.com/css?family=Open+Sans);@charset "UTF-8";

@font-face {
  font-family: 'icomoon';
  src: url("icomoon.eot?spznif");
  src: url("icomoon.eot?spznif#iefix") format("embedded-opentype"), url("icomoon.ttf?spznif") format("truetype"), url("icomoon.woff?spznif") format("woff"), url("icomoon.svg?spznif#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chiudi:before {
  content: "\e901";
}

.icon-hamburger:before {
  content: "\e902";
}

.icon-logo:before {
  content: "\e900";
}

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'OpenSansCondensedLight', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* CLEARFIX */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
body {
  background-color: #cbcdcd;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.left-text, .right-text {
  position: fixed;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 3% 0%;
          transform-origin: 3% 0%;
  top: 50%;
  z-index: 9;
}

.right-text {
  right: 0;
  -webkit-transform-origin: 80% 0%;
          transform-origin: 80% 0%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header .menu {
  margin-left: 12px;
}

header .menu button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu .icon-hamburger {
  font-size: 30px;
}

header .menu .label {
  font-size: 16px;
  margin-left: 10px;
}

header .menu .menu__container {
  position: fixed;
  top: 0;
  left: -100vw;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  z-index: 10;
  transition: left 0.5s;
}

header .menu .menu__container .close-icon {
  position: absolute;
  left: 12px;
  top: 10px;
}

header .menu .menu__container .close-icon .icon-chiudi  {
  font-size: 20px;
}

header .menu .menu__container nav {
  margin-top: 10vh;
  margin-left: 12px;
}

header .menu .menu__container nav a {
  color: #fff;
  font-size: 8vw;
  font-weight: bold;
}

header .menu .menu__container nav .submenu a {
  font-size: 5vw;
}

header .menu .menu__container.open {
  left: 0;
}

header .logo {
  margin-right: 12px;
  font-size: 40px;
  color: #fff;
}

.main-gallery {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-gallery__slide {
  position: relative;
}

.main-gallery__slide .logo {
  font-size: 100px;
  position: absolute;
  bottom: 0;
  left: -50px;
}

.main-gallery__slide .text {
  position: absolute;
  top: 43%;
  right: -50%;
}

.main-gallery__slide .text h1, .main-gallery__slide .text h2 {
  font-size: 30px;
}

/* CHI SONO */
.container-viewport-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.container-viewport-centered__wrapper {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-viewport-centered__wrapper--scroll {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-viewport-centered__wrapper__left {
  margin-right: 50px;
}

.container-viewport-centered__wrapper__left img {
  width: 200px;
}

.container-viewport-centered__wrapper__right {
  color: #000;
}

.container-viewport-centered--scroll {
  height: auto;
  padding-top: 15vh;
}

.container-viewport-centered .big-text {
  font-size: 40px;
  color: #000;
}

/* PORTFOLIO */
.portfolio-template__double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: calc(50vw - 46vw);
}

.portfolio-template__double__item {
  width: 23vw;
}

.portfolio-template__double img {
  width: 100%;
}

.portfolio-template__single {
  width: 100%;
}

.portfolio-template__single img {
  width: 100%;
}
