@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
@font-face {
  font-family: 'icomoon';
  src: url("icomoon.eot?spznif");
  src: url("icomoon.eot?spznif#iefix") format("embedded-opentype"), url("icomoon.ttf?spznif") format("truetype"), url("icomoon.woff?spznif") format("woff"), url("icomoon.svg?spznif#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ancora_intera:before {
  content: "\e903";
}

.icon-favicon:before {
  content: "\e904";
}

.icon-behance:before {
  content: "\e905";
}

.icon-instagram:before {
  content: "\e906";
}

.icon-rosa:before {
  content: "\e907";
}

.icon-logo:before {
  content: "\e900";
}

.icon-chiudi:before {
  content: "\e901";
}

.icon-hamburger:before {
  content: "\e902";
}

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'OpenSansCondensedLight', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* CLEARFIX */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  background-color: #d8d8d8;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

hr {
  background-color: black;
  height: 1px;
  border: 0;
}

strong {
  font-weight: 700;
}

.left-text, .right-text {
  position: fixed;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  top: 50%;
  z-index: 9;
}

.left-text {
  left: 30px;
}

.right-text {
  right: 30px;
  top: 50%;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  position: fixed;
  z-index: 10;
  width: calc(100% - (30px * 2));
  margin-left: 30px;
  margin-right: 30px;
}

header .menu button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu button span {
  display: inline-block;
}

header .menu .icon-hamburger {
  font-size: 30px;
  display: none;
}

header .menu .label {
  font-size: 16px;
  margin-left: 10px;
}

header .menu .menu__container {
  z-index: 10;
  transition: left 0.5s;
}

header .menu .menu__container .close-icon {
  position: absolute;
  display: none;
  top: 10px;
  right: 30px;
}

header .menu .menu__container .close-icon .icon-chiudi {
  font-size: 30px;
}

header .menu .menu__container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu .menu__container nav a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  transition: color 0.7s;
}

header .menu .menu__container nav li {
  margin-right: 20px;
}

header .menu .menu__container nav li:last-child {
  margin-right: 0;
}

header .menu .menu__container nav li.active > a, header .menu .menu__container nav li:hover > a {
  color: #000000;
}

header .menu .menu__container nav .submenu {
  display: none;
  padding: 10px 0;
}

header .menu .menu__container nav .submenu a {
  font-size: 5vw;
}

header .menu .menu__container.open {
  left: 0;
}

header .logo {
  font-size: 40px;
  color: #fff;
  transition: color 0.7s;
}

header .logo:hover {
  color: #000;
}

@media only screen and (max-width: 1024px) {
  header .menu button .icon-hamburger {
    display: block;
  }
  header .menu .menu__container {
    position: fixed;
    top: 0;
    left: -100vw;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
  }
  header .menu .menu__container .close-icon {
    display: block;
  }
  header .menu .menu__container nav {
    margin-top: 5vh;
    margin-left: 30px;
  }
  header .menu .menu__container nav a {
    font-size: 30px;
  }
  header .menu .menu__container nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .menu .menu__container nav li {
    line-height: 50px;
  }
  header .menu .menu__container nav li.active > a, header .menu .menu__container nav li:hover > a {
    color: #ccc;
  }
}

.main-gallery {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-gallery__container {
  width: 300px;
  position: relative;
}

.main-gallery .icon-logo {
  color: black;
  font-size: 150px;
}

.main-gallery__text {
  position: absolute;
  width: 100%;
  left: 25%;
  top: -23px;
  font-size: 60px;
  font-weight: bold;
}

.container-viewport-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.container-viewport-centered__wrapper {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-viewport-centered__wrapper--scroll {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-viewport-centered__wrapper__left {
  margin-right: 50px;
  position: relative;
}

.container-viewport-centered__wrapper__left .logo {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 60px;
  color: #fff;
}

.container-viewport-centered__wrapper__left img {
  width: 200px;
  margin-bottom: 20px;
}

.container-viewport-centered__wrapper__left .text {
  color: #000;
  font-size: 12px;
  font-weight: 700;
}

.container-viewport-centered__wrapper__right {
  color: #000;
}

.container-viewport-centered__wrapper__right hr {
  margin-top: 20px;
  margin-bottom: 40px;
}

.container-viewport-centered--scroll {
  height: auto;
  padding-top: 15vh;
}

.container-viewport-centered .big-text {
  font-size: 34px;
  color: #000;
  font-style: italic;
  line-height: 50px;
}

@media only screen and (max-width: 1024px) {
  header {
    position: relative;
  }
  .left-text, .right-text {
    display: none;
  }
  .container-viewport-centered {
    height: auto;
  }
  .container-viewport-centered__wrapper {
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container-viewport-centered--scroll {
    padding-top: 0;
  }
  .container-viewport-centered .big-text {
    font-size: 20px;
  }
  .main-gallery {
    padding: 0 10px;
  }
  .main-gallery__container {
    width: 100vw;
  }
  .main-gallery .text {
    right: 0;
    left: 0;
    position: relative;
  }
  .main-gallery .logo {
    display: none;
  }
}

.about-us .icon-rosa {
  position: absolute;
  font-size: 50px;
  right: 0;
}

.about-us__content {
  padding-top: 50px;
}

.about-us__content hr {
  width: 70%;
  margin: 30px 0;
  height: 2px;
}

/* PORTFOLIO */
.portfolio-description {
  margin-bottom: 20px;
}

.portfolio-template__double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: calc(50vw - 46vw);
}

.portfolio-template__double__item {
  width: 49%;
  margin-right: 10px;
}

.portfolio-template__double__item:nth-child(2n+0) {
  margin-right: 0;
}

.portfolio-template__double img {
  width: 100%;
}

.portfolio-template__single {
  margin-bottom: calc(50vw - 46vw);
  width: 100%;
}

.portfolio-template__single img {
  width: 100%;
}

.project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-header h1 {
  font-weight: bold;
  font-size: 2em;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: black;
}

.project-header h2 {
  font-size: 1em;
  text-transform: capitalize;
  color: black;
}

.project-header__left {
  width: 40%;
}

.project-header__right {
  width: 60%;
}

.project-header__content {
  width: 80%;
  line-height: 1.2em;
  margin-bottom: 10px;
  font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
  .portfolio-template__double {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio-template__double__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: calc(50vw - 46vw);
  }
}

.gallery-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-header__left {
  width: 40%;
}

.gallery-header__right {
  width: 60%;
}

.gallery-header h1 {
  font-weight: bold;
  font-size: 2em;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: black;
}

.gallery-header__content {
  width: 80%;
  font-size: 0.8em;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.gallery-items__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-items__item {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 10px;
  position: relative;
}

.gallery-items__item img {
  width: 100%;
}

.gallery-items__item:nth-child(2n+0) {
  margin-right: 0;
}

.gallery-items__item a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.gallery-items__item a .gallery-items__item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.5s;
}

.gallery-items__item a .gallery-items__item__content span {
  display: block;
  color: black;
}

.gallery-items__item a .gallery-items__item__content span.title {
  font-size: 30px;
  font-weight: bold;
}

.gallery-items__item a .gallery-items__item__content span.subtitle {
  font-size: 20px;
  font-weight: bold;
}

.gallery-items__item a .gallery-items__item__content:hover {
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .gallery-items__item {
    width: 100%;
    margin-right: 0;
  }
}

.contatti__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon_container {
  width: 36px;
  height: 36px;
  display: inline-block;
  color: black;
}

.icon_container .icon-behance, .icon_container .icon-instagram {
  width: 36px;
  height: 36px;
  font-size: 36px;
}

@media only screen and (max-width: 1024px) {
  .contatti__container {
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
