.gallery {
	h1 {
		font-weight: bold;
		font-size: 2em;
		text-transform: capitalize;
		margin-bottom: 10px;
	}
	&__content {
		line-height: 1.2em;
		margin-bottom: 10px;
	}
}


.gallery-items {
	&__container {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		width: 49%;
		margin-right: 2%;
		margin-bottom: 10px;
		img {
			width: 100%;
		}
		&:nth-child(2n+0) {
			margin-right: 0;
		}
	}
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 600px) {

	.gallery-items {
		&__item {
			width: 100%;
			margin-right: 0;
		}
	}
    
}